/*******************************/
/********* CSS Variables *********/
/*******************************/
:root {
    --btn-text-font-size: 24px;
    --btn-font-family: 'Futura';
    --btn-font-weight: 400;
    --btn-font-style: normal;
}

::-moz-selection { /* Code for Firefox */
    color: #000;
    background: #8AAAE5;
}

::selection {
    color: #000;
    background: #8AAAE5;
}

/*******************************/
/********* Font Face *********/
/*******************************/
@font-face {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI'), url('Segoe UI.woff') format('woff');
}

@font-face {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 300;
    src: local('FuturaPT-Light'), url('FuturaPT-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 400;
    src: local('FuturaPT-Medium'), url('FuturaPT-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    src: local('FuturaPT-Heavy'), url('FuturaPT-Heavy.woff2') format('woff2');
}

@font-face {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 600;
    src: local('FuturaPT-Bold'), url('FuturaPT-Bold.woff2') format('woff2');
}
/*******************************/
/********* General CSS *********/
/*******************************/
body {
    color: #797979;
    background: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2, 
h3, 
h4,
h5, 
h6 {
    color: #414141;
}

a {
    color: #313131;
    transition: .3s;
}

a:hover,
a:active,
a:focus,
button,
button:active,
button:focus {
    color: #8AAAE5;
    outline: none;
    text-decoration: none;
}

.btn:focus,
.form-control:focus {
    box-shadow: none;
}

.container-fluid {
    max-width: 1366px;
}

.btn {
    /* padding: 12px 25px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
    background: #8AAAE5;
    border: 2px solid transparent;
    border-radius: 0;
    box-shadow: inset 0 0 0 50px #8AAAE5;
    transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s; */
}

.btn:hover {
    /* color: #8AAAE5;
    background: transparent;
    box-shadow: inset 0 0 0 0 #8AAAE5;
    border-color: #8AAAE5; */
}

#loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .3s ease-out, visibility 0s linear .3s;
    -o-transition: opacity .3s ease-out, visibility 0s linear .3s;
    transition: opacity .3s ease-out, visibility 0s linear .3s;
    z-index: 999;
}

#loader.show {
    -webkit-transition: opacity .6s ease-out, visibility 0s linear 0s;
    -o-transition: opacity .6s ease-out, visibility 0s linear 0s;
    transition: opacity .6s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

#loader .loader {
    position: relative;
    width: 45px;
    height: 45px;
    border: 5px solid #dddddd;
    border-top: 5px solid #8AAAE5;
    border-radius: 50%;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.back-to-top {
    position: fixed;
    width: 44px;
    height: 44px;
    padding: 8px 0;
    text-align: center;
    line-height: 1;
    font-size: 22px;
    right: 15px;
    bottom: 15px;
    z-index: 9;
}

.back-to-top i {
    color: #414141;
}

.back-to-top:hover i {
    color: #000000;
}


/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    transition: .5s;
    z-index: 999;
    box-shadow: 0 -1px #dddddd inset;
}

.navbar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    background: transparent!important;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
}

.navbar .navbar-brand {
    margin: 0;
    font-size: 20px;
    font-family: 'Futura';
    font-weight: 300;
    line-height: 0px;
    letter-spacing: 2px;
    transition: .5s;
    display: flex;
    align-items: center;
}

.navbar .navbar-brand img {
    max-width: 100%;
    max-height: 28px;
    padding-right: 7px;
}

.navbar .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
}

@media (min-width: 992px) {
    .navbar {
        position: absolute;
        width: 100%;
        padding: 5px 60px;
        background: transparent !important;
        z-index: 9;
        background: #ffffff !important;
    }
    
    .navbar.nav-sticky {
        padding: 0 60px;
    }
    
    .navbar .navbar-brand {
        color: #ffffff;
        color: #8AAAE5!important;
    }
    
    .navbar.nav-sticky .navbar-brand {
        color: #8AAAE5!important;
        font-size: 16px;
    }
    .navbar.nav-sticky .navbar-brand img{
        max-height: 24px;
    }
    .navbar-light .navbar-nav .nav-link,
    .navbar-light .navbar-nav .nav-link:focus {
        padding: 10px 10px 8px 10px;
        color: #ffffff;
        font-size: 13px;
        font-weight: 500;
        color: #414141;
    }
    
    .navbar-light.nav-sticky .navbar-nav .nav-link,
    .navbar-light.nav-sticky .navbar-nav .nav-link:focus {
        color: #414141;
        font-size: 12px;
    }

    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .nav-link.active {
        color: #111111;
        color: #8AAAE5;
    }
    
    .navbar-light.nav-sticky .navbar-nav .nav-link:hover,
    .navbar-light.nav-sticky .navbar-nav .nav-link.active {
        color: #8AAAE5;
    }
}

@media (max-width: 991.98px) {   
    .navbar {
        padding: 5px 30px;
    }
    .navbar .navbar-toggler{
        font-size: 1.1rem;
        transition: linear .3s
    }
    .navbar.nav-sticky .navbar-toggler{
        font-size: 0.8rem;
    }
    
    .navbar .navbar-brand {
        color: #8AAAE5;
        transition: linear .3s
    }
    .navbar .navbar-brand img{
        transition: linear .3s
    }
    .navbar.nav-sticky .navbar-brand{
        font-size: 14px;
    }
    .navbar.nav-sticky .navbar-brand img{
        max-height: 21px;
    }
    .navbar .navbar-nav {
        margin-top: 15px;
    }
    
    .navbar a.nav-link {
        padding: 5px;
    }
    
    .navbar .dropdown-menu {
        box-shadow: none;
    }
}


/*******************************/
/********** Hero CSS ***********/
/*******************************/

.hero {
    position: relative;
    width: 100%;
    padding: 120px 30px;
    overflow: hidden;
    min-height: 80vh;
    align-items: center;
    background: url(../img/Animated_Shape.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero .container-fluid {
    padding: 0;
}

/* .hero .hero-image {
    animation: MoveUpDown 2.5s ease-in-out infinite;
    position: absolute;
    height: 10%;
    width: 100%;

    position: relative;
    text-align: right;
    padding-right: 75px;
} */

/* @keyframes MoveUpDown {
    0%, 100% {
      bottom: 180px;
    }
    50% {
      bottom: 230px;
    }
  } */

.hero .hero-image img {
    max-width: 100%;
    max-height: 100%;
}

.hero .hero-content {
    position: relative;
    padding: 0 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.hero .hero-text p {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #3D3C3C;
}

.hero .hero-text h1 {
    font-size: 64px;
    font-weight: 600;
    color: #3773F2;
    font-family: 'Futura';
}

.hero .hero-text h2 {
    display: inline-block;
    font-size: 37px;
    height: 25px;
    font-weight: 600;
    color: #31446C;
    font-family: 'Futura';
}

.hero .hero-text h3 {
    font-size: 36px;
    line-height: 43px;
    font-weight: 500;
    color: #31446C;
    font-family: 'Futura';
}

.hero .hero-text .typed-text {
    display: none;
}

.hero .hero-text .typed-cursor {
    font-size: 35px;
    font-weight: 300;
    color: #31446C;
}

.hero .hero-btn .btn {
    margin-top: 20px;
    box-shadow: inset 0 0 0 50px #ffffff;
}

.glasscard{
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(104, 95, 95, 0.1);
    box-sizing: border-box;
    /* backdrop-filter: blur(40px); */
    border-radius: 30px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 10px;
    min-height: 600px;
}
#home .header-bg{
    
}
/* @media screen and (max-width: 1024px) {
    .hero .hero-content{
        align-items: center;
    }
} */
@media (max-width: 991.98px) {
    .hero {
        padding-top: 90px;
    }
    
    .hero .hero-content {
        padding: 0 15px;
    }
    
    .hero .hero-text p {
        font-size: 20px;
    }
    
    .hero .hero-text h1 {
        font-size: 45px;
    }
    
    .hero .hero-text h2 {
        font-size: 25px;
        height: 25px;
    }
    
    .hero .hero-btn .btn {
        padding: 12px 30px;
        letter-spacing: 1px;
    }
}

@media (max-width: 767.98px) {
    .hero {
        padding-top: 60px;
        padding-bottom: 60px;
        min-height: auto;
    }
    .hero .hero-image {
        padding: 0;
    }
    .hero,
    .hero .hero-text,
    .hero .hero-btn {
        width: 100%;
        text-align: center;
    }
    
    .hero .hero-text p {
        font-size: 18px;
    }
    
    .hero .hero-text h1 {
        font-size: 35px;
    }
    
    .hero .hero-text h2 {
        font-size: 22px;
    }
    
    .hero .hero-btn .btn {
        padding: 10px 15px;
        letter-spacing: 1px;
    }
}

@media (max-width: 575.98px) {
    .hero .hero-text p {
        font-size: 16px;
    }
    
    .hero .hero-text h1 {
        font-size: 30px;
    }
    
    .hero .hero-text h2 {
        font-size: 18px;
        height: 18px;
    }
    
    .hero .hero-btn .btn {
        padding: 8px 10px;
        letter-spacing: 0;
    }
}


/*******************************/
/******* Section Header ********/
/*******************************/
.section-header {
    position: relative;
    margin-bottom: 45px;
}

.section-header p {
    display: inline-block;
    margin: 0 30px;
    margin-bottom: 10px;
    padding-left: 15px;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #ffffff;
}

.section-header p::before {
    position: absolute;
    content: "";
    height: 3px;
    top: 11px;
    right: 0;
    left: -30px;
    background: #8AAAE5;
    z-index: -1;
}

.section-header p::after {
    position: absolute;
    content: "";
    width: 3px;
    height: 3px;
    top: 11px;
    left: 3px;
    background: #8AAAE5;
    z-index: 1;
}

.section-header h2 {
    margin: 0;
    position: relative;
    font-size: 45px;
    font-weight: 700;
}

@media (max-width: 767.98px) {
    .section-header h2 {
        font-size: 30px;
    }
}


/*******************************/
/******* Slider CSS ********/
/*******************************/
.slider{
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;    
}
.slider .heading{
    font-family: Segoe UI;
    padding-left: 0px;
}
.logoSlider {
    width: 95%;
    margin: auto;
    overflow: hidden;
    box-sizing: border-box;
    /* background-color: #eee; */
    padding: 5px;
    position: relative;
  }
  
  .logoSlider .items{
    display: flex;
    padding-left: 10%;
    animation: logoSlider 20s linear infinite;
  }

  .logoSlider .items:hover {
    animation-play-state: paused;
  }

  .logoSlider::after{
    content: "";
    background: linear-gradient(to right, rgb(255, 255, 255) 0px, rgba(255, 255, 255, 0.1) 10%, rgba(255, 255, 255, 0.1) 90%, rgb(255, 255, 255) 100%);
    position: absolute;
    inset: 0px;
    pointer-events: none;
  }
  .logoSlider .items .item {
    height: 32px;
    filter: grayscale(100%);
    padding: 0 18px;
  }
  
  /* Make it move */
  @keyframes logoSlider {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(-100%, 0);
    }

    100% {
      transform: translate(0, 0);
    }
  }
@media screen and (max-width: 768px) {
    .logoSlider .items .item{
        height: 25px;
    }
}
@media screen and (max-width: 425px) {
    .logoSlider .items .item{
        height: 20px;
    }
    .logoSlider .items .item{
        padding: 0 7px;
    }
}

/*******************************/
/******* About CSS ********/
/*******************************/
#about{
    background: url(../img/color_dots_header.svg) no-repeat center center;
    padding: 100px 30px 10px;
}

#about .body{
    margin: 105px auto;
    
}
#about .body .row{
    row-gap: 70px;
}

#about .body .item{
    min-height: 200px;
    border: transparent 1px solid;
    border-radius: 20px;
    padding: 20px;
    transition: all ease-out 0.3s;
}

#about .body .item:hover{
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(104, 95, 95, 0.1);
    box-sizing: border-box;
    /* backdrop-filter: blur(40px); */
    border-radius: 20px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    transform: scale(101%);
}
#about .body .title{
    font-family: Futura;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    text-align: left;
    color: #31446C;
}

#about .body .description{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #3D3C3C;
    max-width: 483px;
}

@media  screen and (max-width: 767.98px) {
    #about .body .title{
        font-size: 24px;
    }
    #about .body .description{
        font-size: 16px;
    }
    #about .body .row{
        row-gap: 20px;
    }
}

/*******************************/
/******* Years CSS ********/
/*******************************/
#years{
    margin: 0 30px;
}

#years .bg-wrapper{
    background: 
        linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.1)),
        url(../img/blue_dots_bottom.svg) repeat-x center bottom;
    max-width: 1200px;
    border: 3px solid rgba(138, 170, 229, 0.14);
    border-radius: 20px;
    overflow: hidden;
    min-height: 400px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 30px 30px;
}
#years .row{
    justify-content: center;
}

#years .Button{
    margin-top: 60px;
}

/*******************************/
/******* Form CSS ********/
/*******************************/
#form{
    background: url(../img/contact-bg.svg) no-repeat center center;
    min-height: 1000px;
    background-size: cover;
    /* max-width: 1200px; */
    margin: auto;
    padding: 100px 30px;
}

#form .container-contact{
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(104, 95, 95, 0.3);
    box-sizing: border-box;
    backdrop-filter: blur(5px);
    border-radius: 30px;
    padding: 30px;
    margin: 60px auto;
    max-width: 1200px;
    flex-wrap: wrap-reverse;
    column-gap: 20px;
    row-gap: 100px;
}

#form .common-text-heading,
#form .common-text-title{
    color:rgb(255, 255, 255);
    max-width: 1200px;
    margin: auto;
}

#form .contact-form{
    max-width: 450px;
}

#form .contact-form-title{
    font-family: Futura;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #fff;
    padding: 10px 13px 30px;
}
.wrap-input {
    /* height: 60px; */
    position: relative;
    width: 100%;
    /* border-bottom: 1px solid #fff; */
    margin-top: 40px;
}

.contact-form-btn {
    margin-top: 50px;
    width: 100%;
}

textarea.input{
    min-height: 200px;
}

.input {
    background-color: transparent;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 20px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 7px;
    width: 100%;
    border-bottom: 1px solid #fff;
}
.input:focus{
    border-bottom: 1px solid #3773F2;
}
.cut {
    border-radius: 10px;
    height: 20px;
    left: 0;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
}
  
.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
}
  
.placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 10px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 0;
}
  
.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-18px) translateX(8px) scale(0.75);
}
  
.input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
}
  
.input:focus ~ .placeholder {
    color: #ccdbf9;
}

#form .container-info{
    margin: 30px 30px 0;
    gap: 10px;
}
#form .container-info .title{
    font-family: Futura;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 18px;
    color: #fff;
}
#form .container-info .heading{
    font-family: Futura;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    color: #797979;
    margin-top: 30px;
}

#form .container-info .content a{
    font-family: Futura;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 18px;
    color: #fff;
}

#form .container-info .content a:hover{
    color: #8AAAE5;
}

#form .container-info .social-media-icon img{
    width: 30px;
    filter: grayscale(100%);
    transition: ease-in-out 0.2s;
    margin-right: 10px;
}

#form .container-info .social-media-icon img:hover{
    filter: grayscale(0);
}

@media screen and (max-width: 767px){
    .form-vertical-line{
        display: none;
    }
}
/*******************************/
/******* Experience CSS ********/
/*******************************/
.experience {
    position: relative;
    padding: 45px 0 15px 0;
}

.experience img.logo{
    max-width: 183px;
}
.experience img.web{
    max-width: 50vw;
}

.experience .timeline {
    position: relative;
    width: 100%;
}

.experience .timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background: #8AAAE5;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}

.experience .timeline .timeline-item {
    position: relative;
    background: inherit;
    width: 40%;
    margin-bottom: 30px;
    min-height: 700px;
}

.experience .timeline .timeline-item.left {
    left: 0;
    padding-right: 30px;
}

.experience .timeline .timeline-item.right {
    left: 50%;
    padding-left: 30px;
}

/* .experience .timeline .timeline-item::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: 48px;
    right: -8px;
    background: #ffffff;
    border: 2px solid #8AAAE5;
    border-radius: 16px;
    z-index: 1;
} */

.experience .timeline .timeline-item.right::after {
    left: -8px;
}

.experience .timeline .timeline-item::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 46px;
  right: 10px;
  z-index: 1;
  border: 10px solid;
  border-color: transparent transparent transparent #dddddd;
}

.experience .timeline .timeline-item.right::before {
  left: 10px;
  border-color: transparent #dddddd transparent transparent;
}

.experience .timeline .timeline-date {
    position: absolute;
    width: 100%;
    top: 44px;
    font-size: 16px;
    font-weight: 600;
    color: #8AAAE5;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 1;
}

.experience .timeline .timeline-item.left .timeline-date {
    text-align: left;
    left: calc(100% + 55px);
}

.experience .timeline .timeline-item.right .timeline-date {
    text-align: right;
    right: calc(100% + 55px);
}

.experience .timeline .timeline-text {
    padding: 30px;
    background: #ffffff;
    position: relative;
    border-right: 5px solid #dddddd;
    box-shadow: 0 0 60px rgba(0, 0, 0, .08);
}

.experience .timeline .timeline-item.right .timeline-text {
    border-right: none;
    border-left: 5px solid #dddddd;
}

.experience .timeline .timeline-text h2 {
    margin: 0 0 5px 0;
    font-size: 22px;
    font-weight: 600;
}

.experience .timeline .timeline-text h4 {
    margin: 0 0 10px 0;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

.experience .timeline .timeline-text p {
    margin: 0;
    font-size: 16px;
}

@media (max-width: 767.98px) {
    .experience .timeline::after {
        left: 8px;
    }

    .experience .timeline .timeline-item {
        width: 100%;
        padding-left: 38px;
    }
    
    .experience .timeline .timeline-item.left {
        padding-right: 0;
    }
    
    .experience .timeline .timeline-item.right {
        left: 0%;
        padding-left: 38px;
    }

    .experience .timeline .timeline-item.left::after, 
    .experience .timeline .timeline-item.right::after {
        left: 0;
    }
    
    .experience .timeline .timeline-item.left::before,
    .experience .timeline .timeline-item.right::before {
        left: 18px;
        border-color: transparent #dddddd transparent transparent;
    }
    
    .experience .timeline .timeline-item.left .timeline-date,
    .experience .timeline .timeline-item.right .timeline-date {
        position: relative;
        top: 0;
        right: auto;
        left: 0;
        text-align: left;
        margin-bottom: 10px;
    }
    
    .experience .timeline .timeline-item.left .timeline-text,
    .experience .timeline .timeline-item.right .timeline-text {
        border-right: none;
        border-left: 5px solid #dddddd;
    }
}


/*******************************/
/******** Portfolio CSS ********/
/*******************************/
.portfolio {
    position: relative;
    padding: 45px 0 15px 0;
}

.portfolio #portfolio-filter {
    padding: 0;
    margin: -15px 0 25px 0;
    list-style: none;
    font-size: 0;
    text-align: center;
}

.portfolio #portfolio-filter li {
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background: #8AAAE5;
    border: 2px solid transparent;
    border-radius: 0;
    box-shadow: inset 0 0 0 50px #8AAAE5;
    transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
}

.portfolio #portfolio-filter li:hover,
.portfolio #portfolio-filter li.filter-active {
    color: #8AAAE5;
    background: transparent;
    box-shadow: inset 0 0 0 0 #8AAAE5;
    border-color: #8AAAE5;
}

.portfolio .portfolio-item {
    position: relative;
}

.portfolio .portfolio-wrap {
    position: relative;
    width: 100%;
}

.portfolio .portfolio-img {
    position: relative;
    overflow: hidden;
}

.portfolio .portfolio-img img {
    position: relative;
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    transform: scale(1.1);
    transition: .5s;
}

.portfolio .portfolio-item:hover img {
    margin-left: 15px;
}

.portfolio .portfolio-text {
    position: relative;
    height: 60px;
    width: calc(100% - 30px);
    margin: -30px 15px 30px 15px;
    display: flex;
    align-items: center;
    background: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, .12);
}

.portfolio .portfolio-text h3 {
    width: calc(100% - 70px);
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 0 15px;
    white-space: nowrap;
    overflow: hidden;
}

.portfolio .portfolio-text a.btn {
    width: 50px;
    height: 50px;
    padding: 0 0 2px 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    font-weight: 100;
}

.portfolio .portfolio-item:hover a.btn {
    color: #8AAAE5;
    background: transparent;
    box-shadow: inset 0 0 0 0 #8AAAE5;
    border-color: #8AAAE5;
}

/*******************************/
/********* Footer CSS **********/
/*******************************/
.footer {
    position: relative;
}

.footer .container-fluid {
    padding: 20px 0 20px 0;
}

.footer .footer-info {
    position: relative;
    width: 100%;
    text-align: center;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    place-items: center;
    padding: 0 30px;
    max-width: 1200px;
    margin: auto;
    gap: 10px;
}

.footer .footer-menu {
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.footer .footer-menu .caption {
    font-size: 10px;
    max-width: 226px;
    text-align: left;
    font-family: 'Futura';
    font-weight: 400;
}

.footer .footer-social {
    position: relative;
    margin-top: 0;
}

.footer .footer-social a {
    display: inline-block;
}

.footer .footer-social a img {
    transition: .3s;
    width: 15px;
}

.footer .footer-social a:hover {
    transform: scale(1.2);
}

.footer .copyright {
    position: relative;
    text-align: left;
    font-family: 'Futura';
    color: #414141;
    padding: 0;
    font-weight: 400;
    font-size: 13px;
}
.footer-center-info{
    font-size: 10px;
    text-align: left;
    font-family: 'Futura';
    font-weight: 400;
}
@media (max-width: 575.98px) {
    .footer .footer-info{
        grid-template-columns: unset;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0;
        justify-content: center;
    }
    .footer .footer-info h2 {
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 600;
    }

    .footer .footer-info h3 {
        margin-bottom: 20px;
        font-size: 16px;
    }

    .footer .footer-menu p {
        font-size: 16px;
        line-height: 16px;
        padding: 0 5px;
    }
}


/* Common Text */

.common-text-heading{
    font-family: Futura;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #000;
    justify-content: center;
    margin-bottom: 8px;
}

.common-text-title{
    font-family: Futura;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 41px;
    text-align: center;
    color: #374753;
    justify-content: center;
    margin-bottom: 8px;
}

.common-text-description{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #3D3C3C;
    justify-content: center;
    margin: auto;
    max-width: 775px;
    margin-bottom: 8px;
}

@media screen and (max-width: 767px) {
    .common-text-heading{
        font-size: 17px;
    }   
    .common-text-title{
        font-size: 27px;
        line-height: 33px;
    } 
    .common-text-description{
        font-size: 18px;
    }
}

/* Animation */
.animated {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 0.3s;
 }

@-webkit-keyframes fadeInRight {
    0% {
       opacity: 0;
       -webkit-transform: translateX(20px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateX(0);
    }
}
 
@keyframes fadeInRight {
    0% {
       opacity: 0;
       transform: translateX(20px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
}
 
.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

@-webkit-keyframes fadeInLeft {
    0% {
       opacity: 0;
       -webkit-transform: translateX(-20px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateX(0);
    }
}
 
@keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(-20px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
}
 
.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}
@keyframes fadeInUp{
    0%{
        opacity:0;
        -webkit-transform:translateY(20px);
        -ms-transform:translateY(20px);
        transform:translateY(20px)
    }
    100%{
        opacity:1;
        -webkit-transform:translateY(0);
        -ms-transform:translateY(0);
        transform:translateY(0)
    }
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.Button{
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    min-width: 170px;
    font-size: var(--btn-text-font-size);
    text-align: center;
    font-family: var(--btn-font-family);
    font-weight: var(--btn-font-weight);
    font-style: var(--btn-font-style);
    transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: 1;
    -webkit-tap-highlight-color: initial;
}
.Button::before{
    position: absolute;
    content: "";
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: scale(1, 1);
    transform-origin: left center;
    z-index: -1;
}
@media (-moz-touch-enabled: 0), (hover: hover) {
    .Button:not([disabled])::before{
        transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }
    .Button:not([disabled]):hover::before{
        transform-origin: right center;
        transform: scale(0, 1);
    }
}
.Button--primary{
	color: #fff;
	border-color: #3773F2;
    transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.Button--primary::before{
	background-color: #3773F2;
}

.Button--secondary{
    color: #3773F2;
    border: 1px solid #3773F2;
}
.Button--secondary::before{
    content: "";
    transition: transform .45s cubic-bezier(.785,.135,.15,.86);
    background-color: #3773F2;
    transform-origin: right center;
    transform: scale(0,1);
}

@media (-moz-touch-enabled: 0), (hover: hover) {
    .Button--primary:not([disabled]):hover{
        color: #3773F2;
        background-color: transparent;
        transition: transform .45s cubic-bezier(.785, .135, .15, .86);
    }
    .Button--secondary:not([disabled]):hover{
        color: #fff;
        border-color: #3773F2;
    }
    .Button--secondary:not([disabled]):hover::before{
        transform-origin: left center;
        transform: scale(1,1);
    }
}

@media screen and (max-width: 768px){
    .Button{
        font-size: 15px;
    }
}
@media screen and (max-width: 500px) {
    .container-form{
        padding: 0 20px;
    }
}